.bedrooms {
  display: block;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 0 auto;
}

.bedrooms:hover,
.kitchens:hover,
.items:hover {
  filter: opacity(50%);
  cursor: pointer;
}

.block-bottom1, 
.block-bottom2, 
.block-bottom3{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
  display: none;
}

.center-left {
  position: relative;
  border: 1px solid #0071dc;
  border-radius: 50px;
  background-color: Transparent;
  padding: 5px 10px;
}

.center-left p{
  margin: auto;
  color: #0071dc;
}

.copyright{
  width: 50%;
  margin: auto;
  font-family: monospace;
}

#decorate {
  font-size: 1.5vw;
  position: relative;
  color: #0071dc;
  text-shadow: 1px 1px #fff;
  font-family: "Montserrat";
}

#email-button {
  background-color: #343a40;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6.5px 32px;
  text-align: center;
  float: left;
  font-size: 16px;
  margin: 65px auto;
}

#email-bar {
  width: 30%;
  border-radius: 5px;
  float: left;
  margin: 65px auto;
}

#features {
  position: relative;
}

.header-links {
  padding: 10px;
}

hr {
  width: 75%;
}

.email{
  position: relative;
}

.icons-bottom {
  float: right;
  padding: 0px 20px;
  font-size: 1.5vw;
  margin: 65px auto;
}

input {
  border: 1px solid #000;
  height: 35px;
  width: 100%;
  border-radius: 20px;
  padding: 0px 20px;
  color: black;
}

.kitchens,
.items {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

li {
  width: 100%;
  text-align: left;
  color: #343a40;
  font-family: monospace;
}


li a {
  color: #343a40;
  font-family: monospace;
}

.logo {
  height: 44px;
  padding: 10px 0px;
}

.mal-footer {
  list-style-type: none;
  font-size: 1.3rem;
  color: #343a40;
  text-align: center;
  cursor: pointer;
}

.mal-title, .mal-title1, .mal-title2, .mal-title3{
  font-weight: 600;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

#navbar-top-text a {
  float: left;
  color: #f2f2f2;

  padding: 14px 16px;

  font-weight: 600;
  font-size: 1.5rem;
}

#money {
  font-size: 2vw;
  position: relative;
  color: #0071dc;
  text-shadow: 1px 1px #fff;
  font-family: "Montserrat";
}



.navbar-top,
.navbar-bottom {
  color: white;
  background-color: #041e42;
}

.person,
.repeat,
.shop-nav {
  float: left;
}

.search-bar {
  color: #343a40;
  padding-top: 5px;
}

.shop-nav {
  font-weight: 600;
  padding: 2px 10px;
}

/*only the text*/
.shop-nav a {
  color: #fff;
}

.shop-nav a:hover {
  color: #fff;
}

.shop-bedroom,
.shop-kitchen,
.shop-items {
  text-align: center;
  font-family: "Montserrat";
  padding: 45px 0 45px 0;
  color: #343a40;
}

.top-left {
  position: absolute;
  top: 60px;
  left: 16px;
}

.top-right {
  float: right;
  cursor: pointer;
}

ul li {
  padding: 15px;
}

.walmart1 {
  border: 2px solid #6db7ff;
  border-radius: 15px;
  width: 100%;
  margin: 60px auto 0;
}

@media (max-width: 970px) {
  .top-left, .center-left {
    position: relative;
    top: 10px;
  }
}

@media (max-width: 970px) {
  .carousel-indicators{
    display: none;
  }
}

@media (max-width: 1200px){
  #money{
    font-size: 3.5vw;
  }
}

@media (max-width: 1200px){
  #decorate{
    font-size: 3vw;
  }
}

@media (max-width: 1200px) {
  .top-right {
    float: left;

  } 
}

@media (max-width: 1200px){
  .icons-bottom{
    font-size: 3vw;
  }
}


@media (max-width: 1200px){
  .block-bottom1, .block-bottom2, .block-bottom3{
    display: none;

  }
}

@media (max-width: 1200px){
  li{
    text-align: center;
  }
}


@media (max-width: 1200px){
  .mal-title1, .mal-title2, .mal-title3{
    text-align: center;
  }
}

@media(max-width: 1200px){
  .lg-view{
    display:none;
 } 
}

@media(min-width: 1200px){
  .sm-view {
    display:none;
 } 
}


